body.home {

	section#hero {
		@include aspect-ratio(16, 8);

		@include mobile-landscape {
			max-height: 900px;
		}
	}

	section#main {
		padding: 50px 0;

		.wrapper {
			display: grid;
			gap: 50px;
			grid-template-columns: repeat(1, 1fr);

			@include mobile-landscape {
				grid-template-columns: repeat(2, 1fr);
			}

			@include tablet-portrait {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		.inset {
			grid-column: 1/-1;
			@include aspect-ratio(16, 6);
		}

		.photo {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.info {

			@include mobile-landscape {
				grid-column: 1/-1;
			}

			@include tablet-portrait {
				grid-column: 1/2;
			}

			.headline {
				padding-bottom: 10px;

				h2 {
					color: $light-blue;
					font-family: $utopia;
					font-weight: 400;
					font-size: 1.5rem;
					line-height: 1.125em;

					@include tablet-portrait {
						font-size: 2.5rem;
					}
				}
			}

			.copy {
				font-family: $utopia;

				p {
					font-size: 1.25rem;
					line-height: 1.5em;

					@include mobile-landscape {
						font-size: 1.5rem;
					}

					& + p {
						padding-top: 20px;
					}
				}
			}
		}

		.hours,
		.location {

			.photo {
				@include aspect-ratio(16, 9);
			}

			.details {
				padding-top: 30px;

				h3 {
					text-align: center;
					color: $light-blue;
					border-top: 2px solid;
					border-bottom: 2px solid;
					padding: 15px 0;
					text-transform: uppercase;
					font-size: 1rem;
					font-weight: bold;
				}

				p {
					font-weight: 100;
					padding-top: 10px;
					text-align: center;
					line-height: 2em;
					font-size: 1.5rem;
					font-family: $utopia;
					text-transform: lowercase;
				}
			}
		}
	}
}