body.page-template-marketplace {

	section.marketplace {
		padding-bottom: 150px;

		.section-header {
			padding-bottom: 100px;

			.description {
				max-width: 860px;

				p {
					font-size: 1.375rem;
					line-height: 1.5em;
					font-family: $utopia;
				}
			}
		}

		section#shop {
			.shop-item {
				.photo {
					a {
						display: block;
						position: relative;
					}
				}

				.info {
					a.title {
						font-size: 1.25rem;
						color: $light-blue;
						text-transform: lowercase;
					}
				}

				&.coming-soon {

					.photo {
						border: 2px dashed $olive;

						.content {
							span {
								color: $olive;
								text-transform: lowercase;
							}
						}
					}
				}
			}
		}
	}
}