body {
	background: $cream;
}

.section-header {
	padding: 40px 0 40px 0;
	text-align: center;

	h1 {
		font-size: 2em;
		font-family: $utopia;
		color: $light-blue;

		&:after {
			content: '';
			display: block;
			width: 40px;
			height: 1px;
			background: $light-blue;
			margin: 20px auto 0 auto;
		}
		
		@include tablet-portrait {
			font-size: 3em;
		}
	}
}

