body, input, textarea {
	color: $brown;
	font: 400 100%/1 $synthese;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-family: $synthese;
}

a {
	color: $brown;
	transition: all 0.2s ease-in-out;
}



