/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #4a4a4a;
$slate: #2a2a2a;
$black: #000;

$cream: #F6F4EC;
$light-blue: #366B85;
$dark-blue: #365462;
$olive: #8F8E72;
$brown: #29201F;




/* Typography
----------------------------------*/
@import url("https://use.typekit.net/rji6kbp.css");

$utopia: utopia-std, serif;
$synthese: synthese, sans-serif;
