.popup {
	top: -44px;
	left: -10px;

	@include tablet-landscape {
		top: -50px;
		left: -8px;
	}
	
	&-link,
	&-trigger {
		background: $dark-blue;
		color: $cream;
		font-size: 0.8125rem;
		text-transform: lowercase;
		border: 1px solid $cream;
		box-shadow: none !important;

		&:hover {
		}

		span {
			display: block;
			transform: rotate(-10deg);
		}
	}
}

.popup-overlay {

	.close {
		color: $light-blue;
	}

	.info {
		.headline {
			h3 {
				font-size: 1.5rem;
				color: $light-blue;

				@include tablet-portrait {
					font-size: 1.75rem;
				}
			}
		}

		.sub-headline {
			h4 {
				color: $slate;
			}

		}

		.copy {
			p {
				color: $slate;
			}
		}

		.btn {
			a {
				font-size: 1.125rem;
				color: $light-blue;
			}			
		}
	}
}